*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(img.jpg);
    background-size: cover;
    
}

li{
    float: left;
    list-style: none;
    
}

ul{
    background-color: black;
    overflow: auto;
    
}

li a{
    color: white;
    text-decoration: none;
    padding: 20px;
    display: block;
}

li a:hover {
    background-color: white;
    color:black;
}

#intro .myname{
    background-color: beige;
    padding: 108px;
    margin: 59px;
    overflow: auto;

    

}

#intro .introd{
   float: left;
    margin-top: 5%;
    margin-left: 29%;
    color: white;
    background-color: black;
    opacity: 85%;
    padding: 21px
}



#intro .pic{
    float: left;
    width: 20%;
}

#intro .pic img{
    margin-left: 43px;
    width: 108%;
    border-radius: 50%;
    border: 3px solid white;
}

#services{
    background-color: black;
    overflow: hidden;
    padding-top:5%;
    padding-bottom: 5%;
    
}

#services .title1 {
    margin-top: 10px;
    margin-left: 3%;
    margin-bottom: 2%;
    font-size:40px;
}


#services .skills{
    background-color: white;
    float: left;
    width: 26%;
    margin-right: 2%;
    margin-left: 2.5%;
    padding: 15px;
    text-align: center;
    margin-top: 5%;
}

#myskills .skill{
    width: 10%;
    float: left;
    margin: 20px;
    text-align: center;
}
   
   
#myskills .skill img{
    width:100%;
    border-radius: 50%;
    padding: 3%;
    transition: transform;
    transition-duration: 1s;
    
}
   

#myskills .skill H1{
    color: white;
}

#myskills .skill img:hover{
    transform: rotate(360deg);
}

#potfolio{
    background-color: beige;
     overflow: hidden;
}

#potfolio h1{
    margin-left: 3%;
}

#potfolio .projects{
    width :25%;
    float: left;
    margin: 1%;
   margin-left: 4.1%;
   padding: 5px;
   background-color: white;
   opacity: 89%;

}

#potfolio .projects img{
    margin-bottom: 10%;
    width: 100%;
   
}

.clear{
    clear :both;
}
